<div class="container">
<div class="row">

<% @artists.each do |artist| %>
  <%= link_to artist, {:controller => "artists", :action => "show"} do %>
    <div class="col-xs-12">
      <div class="artistbox colorwhite">
        <div class="artistbox_name">
          <%= artist.name%>
        </div>

        <div class="artistdistance centeredimg" data-latitude="35.6813" data-longitude="139.7662">
          測定中...
        </div>

        <div class="artistupdated floatright">
          3分前に更新
        </div>

      </div>
      <div class="space10px"></div>
      <div class="space10px"></div>
    </div>
  <% end %>
<% end %>
</div>

</div>