<div class="container">
<div class="row">
<div class="col-xs-12 colorwhite centeredimg">
<h3>近くにいるスター</h3>
</div>
</div>

<div class="space10px"></div>
<div class="space10px"></div>

<div class="row">
<% @artists.each do |artist| %>
  <%= link_to artist, {:controller => "artists", :action => "show"} do %>
    <div class="col-xs-12">
      <div class="artistbox colorwhite blinking">
        <div class="artistboxborder">
          <div class="artistbox_name">
            <%= artist.name%>からの距離
          </div>

          <div class="artistdistance centeredimg" data-latitude="35.6813" data-longitude="139.7662">
            測定中...
          </div>

          <div class="artistupdated floatright">
            3分前に更新
          </div>
        <div class="clear"></div>
        </div>
      </div>
      <div class="space10px"></div>
      <div class="space10px"></div>
    </div>
  <% end %>
<% end %>
</div>

</div>







