<div class="container">
  <!-- INFO -->
  <div class="row colorwhite centeredimg">
    <div class="col-xs-6 artistname"><%=@artist.name%></div>
    <div class="col-xs-2 artistrank">10位</div>
    <div class="col-xs-4 followbutton"><button>フォロー中</button></div>
  </div>

  <div class="space10px"></div>
  <div class="updatetime colorwhite">１０分前更新</div>
  <div class="space10px"></div>

<!-- MY DISTANCE -->

<!-- tabs for testing -->

<div class="tabbable">
 <ul class="nav nav-tabs">
  <li class="active"><a class="colorwhite" href="#home" data-toggle="tab">マップ</a></li>
  <li><a href="#tab1" data-toggle="tab" class="colorwhite">ランキング</a></li>
  <!-- <li><a href="#tab2" data-toggle="tab">タブ2</a></li> -->
 </ul>
 <div id="my-tab-content" class="tab-content">
  <div class="tab-pane active" id="home">


  <div class="space10px"></div>

  <!-- TAB 2: MY DISTANCE -->
  <div class="row colorwhite mystatus centeredimg">
    <div class="col-xs-4 myrank">10位</div>
    <div id="area_name_tabmap" class="col-xs-4 mydistance"></div>
    <div class="col-xs-4 myupdate"></div>
  </div>
  <div class="line"></div>

<div class="space10px"></div>

<div id="artist" data-json="#{@artist.position.to_json}"></div>
<div id="map_canvas" style="width: 100%; height: 300px"></div>
  </div>
  <div class="tab-pane" id="tab1">
  <div class="space10px"></div>

  <!-- TAB 2: MY DISTANCE -->
  <div class="row colorwhite mystatus centeredimg">
    <div class="col-xs-4 myrank">10位</div>
    <div id="area_name_tabranking" class="col-xs-4 mydistance"></div>
    <div class="col-xs-4 myupdate"></div>
  </div>

  <div class="line"></div>

<div class="space10px"></div>

  <!-- TAB 2: RANKING INDEX-->
  <div class="row userranking centeredimg">
    <div class="col-xs-2 ranktitle ranks">順位</div>
    <div class="col-xs-6 ranktitle names">ユーザー名</div>
    <div class="col-xs-4 ranktitle distances">距離</div>

    <% @checkins_order_by_ranking.each_with_index do |checkin, i| %>
        <div class="col-xs-2 ranks"><%= i + 1%>位</div>
        <div class="col-xs-6 names"><%= checkin.user.nickname %></div>
        <div class="col-xs-4 distances"><%= "#{checkin.distance}m" %></div>
    <% end %>
  </div>

  </div>
  <div class="tab-pane" id="tab2">
   <p>tab2</p>
  </div>
 </div>
</div>

</div>
<!-- end of container -->
