<body>
    <div id="artist" data-json="#{@artist.position.to_json}"></div>
    <div id="map_canvas" style="width: 500px; height: 300px"></div>
    <script>
      var map;
      var directions;

      $(function(){
        var json = $('#artist').data('json');
        typeof(json);
      });

      function initialize() {
        if (GBrowserIsCompatible()) {
          map = new GMap2(document.getElementById("map_canvas"));
          map.setCenter(new GLatLng(35.681379,139.765577), 13);
          directions = new GDirections(map, document.getElementById('route'));
          dispRoute();
        }
      }

      function dispRoute() {
        var pointArray = [];
        directions.clear();
        for(var i = 0;i < json.length;i++){
          pointArray.push(json[0]);
        }
        directions.loadFromWaypoints(pointArray, {locale: 'ja_JP'});
      }

    </script>

    <p>位置情報を取得しています....</p>
    <div id="your_position"></div>
    <div id="area_name"></div>
