<div class="container">
  <!-- INFO -->
  <div class="row colorwhite">
    <div class="col-xs-6 artistname"><%=@artist.name%></div>
    <div class="col-xs-2 artistrank">10位</div>
    <div class="col-xs-4 followbutton"><button>フォロー中</button></div>
  </div>

  <div class="space10px"></div>
  <div class="updatetime colorwhite">１０分前更新</div>
  <div class="space10px"></div>

<!-- TABS -->

<!-- TAB 1: MAP -->


<!-- TAB 2: RANKING -->
<!-- TAB 2: MY DISTANCE -->


<!-- TAB 2: RANKING INDEX-->




<!-- TAB 3: CALENDAR -->

</div>