<div class="space200px"></div>
<div class="container">
<div class="row">
<div class="col-xs-12 col-md-12 centeredimg">
<button class="btn colorwhite loginbutton"><%= link_to "Twitterでログイン", 'auth/twitter' %></button>
</div>
</div>
</div>