/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@-webkit-keyframes pulse {
 from {
   opacity: 1.0;/*透明度100%*/
 }
 to {
   opacity: 0.6;/*透明度80%*/
 }
}
.blinking{
-webkit-animation-name: pulse;/* 実行する名前 */
-webkit-animation-duration: 0.9s;/* 0.3秒かけて実行 */
-webkit-animation-iteration-count:infinite;/* 何回実行するか。infiniteで無限 */
-webkit-animation-timing-function:ease-in-out;/* イーズインアウト */
-webkit-animation-direction: alternate;/* alternateにするとアニメーションが反復 */
-webkit-animation-delay: 0s; /* 実行までの待ち時間 */
}

/*MATERIALS: GENERAL*/
.space10px{
  display:block;
  height:10px;
}
.space200px{
  display: block;
  height: 200px;
}
.colorwhite, a.colorwhite, button.colorwhite a{
  color:white;
}
.floatright{
  float:right;
}
.clear{
  clear:both;
}
/*.verticalalign{
  display:table-cell;
  vertical-align: middle;
}*/

.row div{
  vertical-align: middle;
}

.centeredimg{
  text-align: center;
}

/*.centeredblock{
  display: block;
  margin: 0 auto;
}*/


.line{
  height:0.5px;
  background-color: white;
  opacity: 0.2;
  width:50%;
  margin-left:25%;
}

/*MATERIALS: COLORS*/
element{
/*not in use*/
   --top-bar-bgcolor:#3A474E;
   --bgcolor-top:#36E1B5;
   --bgcolor-bottom:#6E3FC5;
   --bgcolor-followbutton:#91E3C2;
   --white:rgba(255,255,255,0.2);
}

/*COMMON PARTS: BODY*/
body{
  background: linear-gradient(#36E1B5,#6E3FC5);
  background-repeat:no-repeat;
}
html, body {
    min-height: 100%;
}


/*COMMON PARTS: NAVBAR*/
.navbar-inverse{
  background-color:#3A474E;
  border:none;
  border-radius:inherit;
}
.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-nav > li > a{
  color:white;
}

/*COMMON PARTS: CONTAINER*/

/*PAGES*/

/*PAGE: HOME#INDEX*/
.artistbox{
  height:125px;
  border: 1px solid white;
  border-radius:8px;
  box-shadow:0px 2px 6px #182167;
}
/*not used for some reason*/
.artistboxborder{
  border:5px solid rgba(255,255,255,0.2);
  border-radius:8px;
  padding:10px;
  background-color: rgba(255,255,255,0.1);
}
.artistboxborderindex{
  padding:18px;
}

.artistbox_name{
  font-size:19px;
}
.artistdistance{
  font-size:36px;
}
.artistupdated{
  font-size:11px;
}

/*PAGE: ARTIST#SHOW*/

/*PAGE: ARTIST#SHOW --TOP*/
.artistname{
  font-size: 29px;
}
.artistrank{
  padding-top: 5px;
  font-size: 22px;
  vertical-align: middle;
}
.followbutton > button{
  margin-top:10px;
  font-size: 10px;
  border:1px;
  border-color:white;
  background-color: #91E3C2;
  border-radius:6px;
}
.updatetime{
  font-size:11px;
}

/*PAGE: TABS*/
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
  background:transparent;
  border: 1px solid white;
  color:white;
}

ul.nav-tabs li{
  width:50%;
  text-align: center;
}

.myrank{
  margin-top:25px;
  font-size:23px;
}

.mydistance{
  font-size:27px;
}

.myupdate{
  font-size:9px;
}

/*PAGE: ARTIST#SHOW --TAB1: MAP*/
.checkinbutton{
  background-color: rgba(255,255,255,0.2);
  border-radius:35px;
  height:70px;
  min-width: 200px;
}

/*PAGE: ARTIST#SHOW --TOP2: RANKING*/

.userranking{
  background-color: rgba(255,255,255,0.2);
  color:white;
  margin:10px;
  padding:20px;
  font-size:16px;
}

.ranktitle{
  opacity: 1;
  color:white;
  font-size:10px;
}

/*PAGE: LOGIN*/
.loginbutton{
  background-color: #07a7b9;
}
